/Library
/Obj
/Temp
/.vs
/Bin
*.user
dlog/x64/
UnitTest/obj/
UnitTest/bin/
UnitTest1/x64/

*.ipdb

dlog\.VC\.db

ipch/

*.iobj

x64/Release/UnitTest1\.dll

x64/Release/UnitTest1\.exp

x64/Release/UnitTest1\.lib

x64/Release/UnitTest1\.pdb

x64/Debug/

x64/Release/log/

x64/Release/zh-Hans/

x64/Release/Microsoft\.VisualStudio\.QualityTools\.UnitTestFramework\.dll

x64/Release/UnitTest\.dll

x64/Release/UnitTest\.pdb

sdk/glogBuild64/glog\.dir/

x64/Release/

sdk/glogBuild64/Debug/

sdk/glogBuild64/Release/

WindowsFormsApp1/bin/

WindowsFormsApp1/obj/

Dll1/x64/

Release/

sdk/glogBuild32/\.vs/

sdk/glogBuild32/CMakeFiles/
