/Library
/Obj
/Temp
/.vs
/Bin
*.user
dlog/x64/
UnitTest/obj/
UnitTest/bin/
UnitTest1/x64/

*.ipdb

dlog\.VC\.db

ipch/

*.iobj

x64/Release/UnitTest1\.dll

x64/Release/UnitTest1\.exp

x64/Release/UnitTest1\.lib

x64/Release/UnitTest1\.pdb
