<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="packages" />
	<add key="SolutionDirectory" value="packages" />
  </config>
</configuration>
<packages>
  <package id="GoogleTestAdapter" version="0.15.0" targetFramework="native" developmentDependency="true" />
  <!-- <package id="Microsoft.googletest.v140.windesktop.msvcstl.dyn.rt-dyn" version="1.8.0" targetFramework="native" /> -->
</packages>